@model FoodieR.Models.ReviewViewModel

@*View pentru zona Review din Product Index.cshtml*@
<div class="container border border-1 rounded-2 mt-1 p-1" style="background-color:antiquewhite;">
    <p class="text-secondary p-3">@Model.Subject</p>
    <div class="d-flex p-1 align-items-center justify-content-between">
        <h1>@Model.Title</h1>
        <p>@string.Join("", Enumerable.Repeat("⭐", Model.Rating))</p>
    </div>

    <div class=" d-flex flex-column p-3">
        @Model.Content
        <div class="d-flex justify-content-end p-3">
            <a asp-action="Details" asp-controller="Review" asp-route-id="@Model.Id" class="btn btn-sm btn-create me-1">More info</a>
        </div>
    </div>

</div>

